[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.2"
gunicorn = "~=23.0"
djangorestframework = "~=3.15"
apscheduler = "~=3.11"

[dev-packages]
pytest-django = "~=4.10"
pytest-mock = "~=3.14"
pytest-cov = "~=6.0"
ruff = "~=0.9"
jupyter = "~=1.1"
jupyterlab-language-pack-ja-jp = "~=4.3"
folium = "~=0.19"
skyfield = "~=1.50"

[requires]
python_version = "3.12"
